/***************/
/*** APP CSS ***/
/***************/

/*** Cleaners ***/
.navbar {
    border-radius: 0 !important;
}

.navbar-clean-all {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-height: 0;
}

.app-clean-border {
    border: 0;
}

.app-clean-border-top {
    border-top: 0;
}

.app-clean-mg {
    margin: 0 !important;
}

.app-clean-mg-top {
    margin-top: 0;
}

.app-clean-mg-bottom,
.well,
.well-nested{
    margin-bottom: 0;
}

.app-clean-mg-left {
    margin-left: 0;
}

.app-clean-mg-right {
    margin-right: 0;
}

.app-clean-pd-left {
    padding-left: 0;
}

.app-clean-pd-right {
    padding-right: 0;
}

.app-clean-pd-bottom {
    padding-bottom: 0;
}

/*** mg/pd ***/

.app-mg-top-5 {
    margin-top: 5px;
}

.app-mg-top-15 {
    margin-top: 15px;
}

.app-mg-top-94 {
    margin-top: 94px;
}

.app-mg-bottom-10 {
    margin-bottom: 10px;
}

.app-mg-left-5 {
    margin-left: 5px;
}

.app-mg-left-15 {
    margin-left: 15px;
}

.app-mg-bottom-15 {
    margin-bottom: 15px;
}

.app-mg-bottom-30 {
    margin-bottom: 30px;
}

.app-pd-left-30 {
    padding-left: 30px;
}

.app-pd-left-45 {
    padding-left: 45px;
}

.app-mg-right-minus15 {
    margin-right: -15px;
}

.app-mg-right-15 {
    margin-right: 15px;
}

.app-mg-right-5 {
    margin-right: 5px;
}

.app-font-20 {
    font-size: 20px;
}

/*********************/
/*** WIDGETS       ***/
/*********************/

/*** Aplikator ***/

a {
    text-decoration: none !important;
}

.app-color-black {
    color: #000 !important;
}

.brand {
    cursor: pointer;
}

.fieldLabel {
    margin-top: 3px;
    margin-bottom: 2px;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 1px;
}

/*
.modal-header{
    background-color: #f8f8f8;
}
*/

/*** Form ***/

.dirty {
    background-color: #FFFF99;
}

.well {
    padding: 5px !important;
    margin-bottom: 2px !important;
    padding-top: 0px !important;
}

.well-nested {
    min-height: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding: 0px !important;
    margin-bottom: 2px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

/*** TableListerWidget ***/

.app-list-panel {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ccc;
}

.app-form-panel {
    padding-right: 0;
    padding-left: 0;
}

.app-grid-panel {
    padding-right: 0;
    padding-left: 0;
}

.selector-width {
    width: 150px;
}

.odd {
    cursor: pointer;
    background-color: #f5f5f5;
}

.even {
    cursor: pointer;
}

/*** NestedTable ***/

.nested-table-frame {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.nestedTableNavbar {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.table {
    margin-bottom: 5px;
}

/*** ReferenceFieldWidget ***/

h4.modal-title {
    display:inline;
}

.refSelectButton {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    float:right

}

.refHeader {
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px dotted #ccc;
}

.refButtonPanel {
    padding-bottom: 0px;

}

.refTablePanel {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.dropdown-menu .item {
    padding: 2px;
}

.dropdown-menu .item-selected {
    background-color: #f5f5f5;
}

/*** RepeatedFormWidget ***/

.repeatedForm {
    border-bottom: 1px dotted #ccc;
    padding-top: 4px;
    padding-bottom: 4px;
}

.lastRepeatedForm {
    padding-top: 4px;
}

.button-create-shift-up {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/*** BinaryFieldWidget ***/

.binaryButtonHolder {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

/*** PanelWidget ***/

.panelBorder {
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;

}

.formLabel {
    color: #333399;
    font-size: 11px;
    margin: 2px;
}

/*** FunctionButton ***/
.functionButton {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

/***********************/
/*** Tooltip support ***/
/***********************/

[tooltip]:before {
    /* needed - do not touch */
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 2px 4px 2px 4px;
    color: black;
    border-radius: 2px;
    box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    content: attr(tooltip);
    opacity: 1;

    /* customizable */
    background: lightyellow;
    margin-top: -30px;
    margin-left: 0px;
}

/***********************/
/***** Dev - pedro *****/
/***********************/

/*** Secondary navbar ***/
.app-navbar-secondary {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 70;
    border: 0;
}

.app-navbar-secondary .navbar-form button.btn-default,
.app-navbar-secondary .navbar-form a.btn-default {
    margin-left: 2px;
}

/*** Form area ***/
.formscroller {
    background-color: #F5F5F5;
}

.formscroller .form-control {
    padding: 2px 5px;
}

.formscroller input.form-control,
.formscroller select.form-control {
    height: 30px;
}

.formscroller textarea.form-control {
    padding-top: 4px;
}

.formscroller label {
    font-size: 12px;
    color: #555;
}

.formscroller label.fieldLabel {
    margin-top: 8px;
}

.formscroller .btn-default {
    padding: 4px 10px;
}

.formscroller .navbar-form button.btn-default,
.formscroller .navbar-form a.btn-default {
    margin-right: 2px;
}

.formscroller .well{
    background-color: #EAEAEA;
}

.formscroller .well-nested{
    background-color: #EAEAEA;
}

/*** Row divider ***/
.app-row-divider {
    margin-bottom: 15px;
}

/*************************/
/***** MEDIA QUERIES *****/
/*************************/

/*** Max 767 ***/
@media only screen and (max-width: 767px) {
    .navbar-form {
        border-bottom: 0;
    }
}

/*** ============ NOTES FOR VLADIMIR
- posledni row ve form widgetu 'formscroller' dat class 'app-row-divider' anebo za posledni row vytisknout prazdny div s touto class, aby posledni row nebyla nalepena na spodek browseru
- ve formulari 'Attached files' odstranit class 'well' u obrazku
- ve formulari 'Folder' odstranit u divu class 'refHeader', aby se negeneroval dolni border a s tim i odsazeni
- ve form widgetu 'formscroller' dat vsem label class fieldLabel, aby bylo horni odsazeni vsude stejne, nekde tato class je, ale vetsinou u tech skupinovych formularu neni napr. 'Folder'
- upravit html napr. u formulare 'folder' -> priradit class 'form-inline', zrusit styles u vsech podrazenych elementu v nove class 'form-inline', span zmenit na 'label'
- Attached files -> priradit elementu 'navbar-form' class 'app-clean-md-top', aby tlacitka byly zaroven v jedne line
=================== ***/
