@CHARSET "UTF-8";

.contentsFrame {
    border-left: 1px solid #666;
    /*margin: 2px;
    margin-left : 0px;*/
}

.contentsHeader {
    background: white;
    border-bottom: 0px solid #666;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;

}

.contentsHolder {
    padding-left: 2px;
    padding-right: 2px;
}