.cellListWidget {

}

.even {
}

.odd {
    background-color: #f5f5f5;
}

.cellListEvenItem {
    cursor: pointer;
    zoom: 1;
    border-bottom: #d3d3d3 dotted thin;
    padding-left: 10px;
}

.cellListOddItem {
    cursor: pointer;
    zoom: 1;
    background-color: #f5f5f5;
    border-bottom: #d3d3d3 dotted thin;
    padding-left: 10px;
}

.cellListKeyboardSelectedItem {
    background: #ffc;
}

@sprite .cellListSelectedItem {
    gwt-image: 'cellListSelectedBackground';
    background-color: #628cd5;
    color: white;
    height: auto;
    overflow: visible;
}

@external div.inactive *;
div.inactive * {
    cursor: not-allowed;
}